* {
  margin: auto 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
  background-color: #e1f1fd;
  width: auto;
  height: auto;
  padding: 30px;
  border: black 10px;
}

.nav-container {
  display: inline-flex;
  box-sizing: border-box ;
  position: relative;
  width: 100%;
}

.name-link {
  text-decoration: none;
  background-color: white;
  padding: 20px;
}

.nav-list {
  display: inline-flex;
  font-size: 20px;
  color: #4663ac;
  margin-left: auto;
  list-style-type: none;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 20px;
}

.nav-link:hover {
  color: #4663ac;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 5px #4663ac;
  transition: 0.3s;
  background-color: #C9F0FF;
}

.nav-link:active {
  color: #4663ac;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 5px #4663ac;
  background-color: #C9F0FF;
}


.prof-pic {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.main {
  width: auto;
  height: auto;
  text-align: center;
}

.main-skills {
  padding-top: 100px;
}


