* {
  margin: auto 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
  background-color: #e1f1fd;
  width: auto;
  height: auto;
  padding: 30px;
  border: black 10px;
}

.nav-container {
  display: inline-flex;

}

.name-link {
  text-decoration: none;
  background-color: white;
  padding: 20px;
}

.nav-list {
  list-style-type: none;
  display: inline-flex;
  position: absolute;
  margin: 0 0 0 500px;
  right: 20px;
  font-size: 20px;
  color: #4663ac;
}

.nav-link {
  text-align: center;
  margin: 0 0 0 50px;
}

.link {
  text-decoration: none;
}

.prof-pic {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}



